/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#raceList tr:nth-child(even) {
    background-color: #f9f9f9;
}

#raceList tr:nth-child(odd) {
    background-color: #ffffff;
}

#searchBox {
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    width: 300px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

button#darkModeToggle {
    margin: 10px;
    background-color: #333;
    color: white;
}

@media (max-width: 600px) {
    #searchBox {
        width: 100%;
    }

    #oddsTable, #ratingsTable {
        width: 100%;
    }
}
